* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

header {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 8vmin;
}

main {
  &:not(:fullscreen) {
    display: none;
  }

  background-color: white;
  font-size: 6vmin;
  perspective: 50vh;
}

button {
  font-size: inherit;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
}

#exitBtn {
  position: fixed;
  top: 1em;
  left: 1em;
}

#startBtn {
  margin: 1em 0 2em;
  align-self: center;
}

#log {
  white-space: pre-line;
  font-size: 11px;
  font-family: monospace;
  position: fixed;
  bottom: 5%;
  left: 5%;
}

#track {
  background-color: #ccac90;
  height: 350vh;
  width: 100vw;
  transform-origin: center 84%;
  position: absolute;
  bottom: -50vh;
  left: 0;
  transition: transform 1s;
  transform: rotate3d(1, 0, 0, 60deg);
}

#player {
  position: fixed;
  top: 81%;
  left: 0;
  right: 0;
  height: 0;

  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  transition: transform 0.05s;
}
