* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

header {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 8vmin;

  body:not(.using-fullscreen) & {
    display: none;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }
}

main {
  body.using-fullscreen &:not(:fullscreen) {
    display: none;
    position: fixed;
    inset: 0;
  }
  body:not(.using-fullscreen) & {
    min-height: 100dvh;
    min-width: 100dvw;
  }

  background-color: white;
  font-size: 6vmin;
  perspective: 50vh;
  position: relative;

  & > section {
    display: contents;
  }

  & * {
    transform-style: preserve-3d;
  }

  .only-in-run,
  .in-run {
    transition: opacity 0.5s;
  }

  &.run .partial-in-run > :not(.in-run):not(.only-in-run),
  &:not(.run) .partial-in-run > .only-in-run,
  &.run > section > :not(.in-run):not(.only-in-run):not(.partial-in-run),
  &:not(.run) > section > .only-in-run {
    opacity: 0;
    pointer-events: none;
  }

  #inRunWallet {
    position: absolute;
    bottom: 85%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;

    font-size: 1rem;
    border-radius: 1em 0 0 1em;
    background: #eeceb2;
    border: solid #aa8a70;
    color: #664422;
    border-width: thick 0 thick thick;
    text-align: right;
  }

  & #touchToStart {
    pointer-events: none;
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-shadow:
      0 0 0.3em white,
      0 0 0.3em white,
      0 0 0.3em white,
      0 0 0.3em white;
  }
}

button {
  font-size: inherit;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  border-width: medium;
}

#topBar {
  position: fixed;
  top: 1em;
  left: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#mainScreenWallet {
  flex-grow: 1;

  padding: 0.25em 0.5em;
  border-radius: 0.5em;

  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;

  & > * {
    flex-grow: 1;
    text-align: right;
    font-size: 1rem;
  }

  background: #eeceb2;
  border: solid medium #aa8a70;
  color: #664422;
}

#startBtn {
  margin: 1em 0 2em;
  align-self: center;
}

#log {
  white-space: pre-line;
  font-size: 11px;
  font-family: monospace;
  position: fixed;
  bottom: 5%;
  left: 5%;
}

#webgl-canvas {
  position: absolute;
  inset: 0;
}

#endRunScreen {
  background: black;
  position: absolute;
  inset: 0;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  pointer-events: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  button.ok {
    margin-top: 30%;
    min-width: 4em;
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}
