* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 3.5vmin;
}

header {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2em;

  body:not(.using-fullscreen) & {
    display: none;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  h1 img {
    height: 1.5em;
    vertical-align: -25%;
  }

  #version {
    position: absolute;
    bottom: 0;
  }
}

main {
  body.using-fullscreen &:not(:fullscreen) {
    display: none;
    position: fixed;
    inset: 0;
  }
  body:not(.using-fullscreen) & {
    min-height: 100dvh;
    min-width: 100dvw;
  }

  background-color: white;
  perspective: 50vh;
  position: relative;

  * {
    transform-style: preserve-3d;
    transition: opacity 1s ease-in-out;
  }

  & > section {
    background: black;
    color: white;

    &.inactive {
      pointer-events: none;
    }
  }

  &.run .partial-in-run > :not(.in-run):not(.only-in-run),
  &:not(.run) .partial-in-run > .only-in-run,
  &.run > #mainScreen > :not(.in-run):not(.only-in-run):not(.partial-in-run):not(#endRunScreen),
  &:not(.run) > section > .only-in-run {
    opacity: 0;
    pointer-events: none;
  }

  #inRunWallet {
    position: absolute;
    top: 1em;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;

    border-radius: 1rem 0 0 1rem;
    background: #eeceb2;
    border: solid #aa8a70;
    color: #664422;
    border-width: thick 0 thick thick;
    text-align: right;
    pointer-events: none;
  }

  & #touchToStart {
    position: absolute;
    pointer-events: none;
    inset: 0;

    font-size: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    --shadow-color: white;

    & > * {
      text-shadow:
        0 0 0.3em var(--shadow-color),
        0 0 0.3em var(--shadow-color),
        0 0 0.3em var(--shadow-color),
        0 0 0.3em var(--shadow-color);
    }

    :empty {
      display: none;
    }
  }

  &.no-energy .if-energy,
  &:not(.no-energy) .if-no-energy {
    display: none;
  }
}

#mainScreen {
  position: absolute;
  inset: 0;

  background: white;
  color: black;

  display: grid;
  grid-template:
    'top top' auto
    'l1  r1' auto
    'l2  r2' auto
    'l3  r3' 1fr
    'l4  r4' auto
    'l5  r5' auto
    'bottom bottom' 9em
    / 50% 50%;
}

/* prettier-ignore */
#mainScreen {
  #log            { grid-area: l2; }
  #topBar         { grid-area: top; }
  .upgradeButtons { grid-area: bottom; }
  .sectionButtons { grid-area: l5; }
}

#shortMessage {
  font-style: italic;
  text-align: center;
  text-wrap: balance;
}

button {
  font-size: 1.5em;

  padding: 0.25em 0.5em;
  border-radius: 1rem;
  border-width: medium;

  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;

  &:active,
  &:active:not(.disabled) {
    box-shadow: 0.1rem 0.1rem 0.5rem inset #0008;
  }
}

#topBar {
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#playStats {
  line-height: 1.5em;
  padding: 0 1em 1em;
}

#mainScreenWallet,
.wallet {
  flex-grow: 1;

  padding: 0.25em 0.5em;
  border-radius: 1rem;
  min-height: 3em;

  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: space-evenly;

  & > * {
    text-align: right;
    font-size: 1.2em;
  }

  background: #eeceb2;
  border: solid medium #aa8a70;
  color: #664422;
}

#startBtn {
  margin: 1em 0 2em;
  align-self: center;
}

#log {
  white-space: pre-line;
  font-size: 0.7em;
  font-family: monospace;
  max-height: 15em;
  line-height: 1em;
  overflow: hidden;
  display: flex;
  align-items: end;
}

#webglCanvas {
  position: absolute;
  inset: 0;
}

#endRunScreen {
  background: black;
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  font-size: 1.5em;

  .buttons {
    margin-top: 30%;
    padding: 0 1em;
    display: flex;
    gap: 1em;

    button {
      min-width: 4em;
      &.ok {
        background-color: #a2ff44;
      }
      &.retry {
        background-color: #ffc04a;
      }
    }
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  &:not(.win) .if-win,
  &.win .if-not-win,
  &:not(.gotGems) .if-got-gems {
    display: none;
  }

  &:not(.collected) .collected {
    display: none;
  }
}

.sectionButtons {
  max-width: 25%;

  button {
    background: #eeceb2;
    border: solid #aa8a70;

    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .cards {
    padding: 1em;

    .card {
      border-color: #664422;

      transform-origin: bottom left;

      &.behind {
        position: absolute;
        border-width: 0.07em;
      }

      &:nth-child(1) {
        transform: rotate(5deg);
      }
      &:nth-child(2) {
        transform: rotate(0deg);
      }
      &:nth-child(3) {
        transform: rotate(-5deg);
      }
    }
  }
}

.upgradeButtons {
  padding: 1em;

  display: flex;
  flex-direction: row;
  gap: 0.5em;

  button {
    font-size: 1.2em;
  }

  & > * {
    flex: 1 1 0%;

    border-radius: 1rem;
    background: #eeceb2;
    border: solid #aa8a70;
    color: #664422;
    border-width: medium;

    padding: 0.2em 0.5em;
    text-align: center;

    &.disabled {
      /* filter: grayscale(50%) contrast(50%) brightness(120%); */
      background: #f2dec8;
      color: #aa8a70;

      &.unaffordable > .cost {
        color: red;
      }

      &.max > .cost {
        visibility: hidden;
      }
    }

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.hidden:not(.neverHidden) {
  visibility: hidden;

  .hiddenGone &,
  &.hiddenGone {
    display: none;
  }
}

#cards {
  position: absolute;
  inset: 0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);

  background-color: #3f115f;

  box-shadow: 0 0 20vw 20vw #3f115f;

  &.inactive {
    transform: translateX(-140%);
  }

  display: grid;
  grid-template:
    'top top' auto
    'middle middle' 1fr
    'l5  r5' auto
    'bottom bottom' 9em
    / auto 1fr;

  .wallet {
    grid-area: top;
    margin: 0.7em;
    min-width: 16em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .sectionButtons {
    grid-area: l5;

    button {
      span {
        font-size: 2.4em;
      }
    }
  }

  .upgradeButtons {
    grid-area: bottom;
    font-size: 1.2em;

    .unaffordable .cost {
      color: red;
    }
  }

  .cardsContainer {
    position: relative;
    grid-area: middle;
    margin: 0 0 1em;
    border: solid thick #fff4;
    border-radius: 2em;

    box-shadow:
      inset 0.5em 0.5em 0.5em #0008,
      inset -0.5em -0.5em 0.5em #fff6;

    /* black outer shadow upwards to black out the top corners */
    /* 0 -5em 0 2em black; */

    overflow: auto;

    & > .if-empty {
      .theCards:not(:empty) + & {
        display: none;
      }

      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      font-size: 3em;
      color: #fff4;
      text-wrap: balance;
      text-align: center;
    }

    container-type: size;

    & > .theCards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /* this is calculated so cards are about 2x3 size, filling available space */
      padding: 5cqw;
      gap: 6cqw;
      grid-auto-rows: 39cqw;

      .card {
        width: 100%;
        height: 100%;
      }

      font-size: 1.2em;
    }
  }
}

.card {
  height: 3em;
  width: 2em;
  border-radius: 0.3em;
  border: 0.1em solid #7d2ab7;
  position: relative;
  overflow: hidden;

  background: #f2dec8;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  /* inside sheet with gradient color */
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateZ(-1px);
    background: linear-gradient(-20deg, #b853ff 0, #d293fe 20%, #d293fe 80%, #e7c4ff 100%);
  }

  &.back::before {
    background: linear-gradient(34deg, #b853ff 0, #d293fe 30%, #d293fe 70%, #e7c4ff 100%);
  }

  /* back cover */
  &.back::after {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateZ(-2px);

    background-size: 60% auto;
    background-image: url('assets/gem.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .rarity {
    color: #efd9ff;
    background: #7d2ab7;
    padding: 0.2em 0.5em 0.3em;
    border-radius: 0 0 0.5em 0.5em;
    margin-bottom: 0.5em;
    font-size: x-small;
    line-height: 1em;
    text-transform: uppercase;
  }

  .name {
    margin: auto;
    text-align: center;
    text-wrap: balance;
  }

  .label {
    align-self: stretch;
    text-align: center;
    border: solid;
    border-width: thin 0;
    background: #fff6;
    margin-top: auto;
    font-size: x-small;
    line-height: 1em;
    padding: 0.3em 0;
    text-transform: uppercase;
  }

  .nextLevel {
    align-self: stretch;
    position: relative;
    font-size: smaller;

    padding: 0.3em 0;
    text-align: center;

    &.max::after {
      content: 'MAX';
    }

    .have::after {
      content: ' / ';
    }

    .have,
    .outOf {
      position: relative;
      z-index: 1;
    }

    .box {
      position: absolute;
      inset: 0.3em 1em;
      background: #fce;
      z-index: 0;
      border-radius: 0.3em;
    }

    .partBox {
      background: #afa;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-radius: 0.3em;
    }
  }

  .name.highlight .level {
    position: relative;
    display: inline-block;
    z-index: -1;

    &::before {
      content: ' ';
      height: 2em;
      z-index: -1;

      /* make it a circle around the middle of the center number */
      position: absolute;
      inset: 50%;
      width: 2.5em;
      height: 2.5em;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: yellow;
      background: radial-gradient(circle closest-side, #ff0 0%, #ff0 50%, #ff00 100%);
    }
  }

  .nextLevel.highlight .box::before {
    content: ' ';
    height: 2em;

    /* make it a circle around the top right corner of the box */
    position: absolute;
    left: 100%;
    top: 0;
    width: 2em;
    height: 2em;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: yellow;
    background: radial-gradient(circle closest-side, #ff0 0%, #ff0 30%, #ff00 100%);
  }
}
